<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
<!--    spring整合mybatis-->
<!--    配置数据库相关参数properties-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
<!--配置数据库连接池数据源-->
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="jdbc.url"></property>
        <property name="user" value="jdbc.username"></property>
        <property name="password" value="jdbc.password"></property>
    </bean>

<!--    配置sqlsessionfactory-->
    <bean id="sqlsession" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--        注入数据源-->
        <property name="dataSource" ref="datasource"></property>
<!--        配置mybatis文件-->
        <property name="configLocation" value="classpath:mybatis.xml"></property>
<!--        扫描  实体类-->
        <property name="typeAliasesPackage" value="com.entity"></property>
<!--        扫描sql配置文件：mapper-->
        <property name="mapperLocations" value="mapper/*.xml"></property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<!--        注入sqlsessionfactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
<!--        扫描dao层-->
        <property name="basePackage" value="com.dao"></property>
    </bean>
</beans>